<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure>
                          <img src="images/404.jpg" alt="thapa" class="img-fluid " id="error">
                        </figure>
                        <p>Welcome to<span style="color:#0097e6 ;">Kaushik</span> weather web</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/"><button>GO BACK</button></a>
                      </div>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>
</html>