<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                          <img src="./images/6.jpg" alt="thapa" class="img-fluid ">
                        </figure>
                      </div>
                    <div class="col-md-6 col-12 main_header_left">
                         <p>Welcome to weather app by Kaushik</p>
                         <h1>I Am A <span style="color:#0097e6 ;">Full stack Developer</span> Info of Your City</h1>
                         <a href="/weather"><button>Weather</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>
</html>